@import './variables';

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base-font-size;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: $extra-large-font-size;
}

h2 {
  font-weight: 300;
  font-size: $large-font-size;
}

h3 {
  font-weight: 200;
  font-size: $medium-font-size;
}

p {
  font-weight: 100;
  font-size: $base-font-size;
}
a {
  color: black;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  padding: .8rem;
}
