// Colors
$brand-primary: #006064;
$brand-primary-light: #428e92;
$brand-primary-dark: #00363a;
$brand-secondary: #fbc02d;
$brand-secondary-light: #fff263;
$brand-secondary-dark: #c49000;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

// Spacing
$space: 1.4rem;
$site-max-width: 100rem;

// Font size
$base-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.2rem;
$extra-large-font-size: 2.8rem;

// Form input
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Button
$button-bg: $brand-primary-dark;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $light-grey;
$header-color: black;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
